<%= form_for [:admin, @mailing_list] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @mailing_list,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :general -%>
    <%= f.check_box :general, :checked => @mailing_list[:general]  -%>
  </div>
  
  <div class='field'>
    <%= f.label :events -%>
    <%= f.check_box :events, :checked => @mailing_list[:events]  -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.mailing_lists.mailing_list'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @mailing_list.email)
              } %>
<% end -%>
